body {
    /* height: 100vh; */
    /* display: flex; */
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px; 
    gap: 16px;
}



.insertItem {
    height: 30px;
    padding: 10px 0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    justify-content: center;
}

.column-title{
    display: flex;
    grid-column: 1/ 3;
    justify-content: space-around;
    
}

.column-title > * {
    text-decoration: underline;
}

p {
    margin: 0;
    
    padding-top: 10px;
}

span{
    width: 150px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
}

ul,
span,
input[type='checkbox']{
    padding: 0;
    margin: 0;

}

ul{
    grid-column: 1 /3 ;

}

.list-item{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
}

li {
    text-align: center;
}

/* li > * {
    margin: 0px 5px;
    padding: 5px;
} */

button {
    background-color: rgb(96, 96, 253);
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 7px;
    margin: 0px 6px;
}

.delete-button{
    position: absolute;
    right: 2%;
    background-color: red; 
    font-size: 12px;
    padding: 5px;
    margin: 2px;
}

form > * {
    margin: 4px;
}